/*
  Brand  Colors
*/
$brand-primary: #ffb5c0;
$brand-secondary: #e3c2c2;

/*
  Body Colors
*/
$background-grey: #eeeeee;
$background-dark: #383935;
$background-light: #ffffff;

/*
Text Colors
*/
$text-dark: #383935;
$text-light: #ffffff;
$text-grey: #778899;

/*
Components & Modules
*/
$header-bg: $background-dark;
$footer-bg: $background-dark;
$button-bg: $background-dark;
$border-line: #e5e5e5;

/*
  Colors
*/
$ice: #f5f5f5;
$silver: #e7e7e7;
$dark-middle: #484747;
$grey: #aaaaaa;
$grey-dark: #807f7f;
$grey-light: #fbfbfb;
$white-medium: #f0f0f0;

/*
  Social Media Colors
 */
$facebook: #526cac !default;
$google: #d34b37 !default;
$instagram: #c13584 !default;
$linkedin: #0286be !default;
$rss: #f9a600 !default;
$twitter: #1ebaec !default;
$youtube: #c42232 !default;
