
/**
 * Fonts
 */
 
 $main      :  Fabriga, -apple-system, BlinkMacSystemFont, avenir next, avenir,  ubuntu, roboto, noto, segoe ui, arial, sans-serif;
 $suport    : 'David Libre', Helvetica ,helvetica neue, helvetica,serif;
 $size-base : 16px;