/**
 * Fonts
 */
$size-base: 16px;
$font-main: fabriga, system-ui, -apple-system, blinkmacsystemfont, avenir next, avenir, ubuntu,
  roboto, noto, segoe ui, arial, sans-serif;
$font-suport: 'David Libre', helvetica, helvetica neue, helvetica, serif;
