@use '../settings/colors';

.totals{
    width: 95%;
    padding: 4% 2%;
    border-collapse: separate;
    background-color: colors.$background-light;
    border-spacing: 0 15px;
}
.totals__space{
    width: 40%;
}
.totals__item{
    width: 40%;
    padding-bottom: 4% 0 ;
    text-align: left;
    font-size: 14px;
}
.totals__item-value{
    width: 25%;
    font-size: 14px;
    white-space: nowrap;
}
.totals__amount-title{
    width: 40%;
    padding: 4% 0 ;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    border-top: 1px solid colors.$border-line;
}

.totals__amount-value{
    width: 25%;
    white-space: nowrap;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    border-top: 1px solid colors.$border-line;
}