@use '../settings/colors';

.paragraph{
  color: colors.$text-dark;
  padding: 2% 0;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  line-height: 1.5;
}

.heading{
  text-transform: uppercase;
  font-weight: normal;
  color: colors.$text-dark;
  font-size: 28px;
}
.subheading{
  color: colors.$text-dark;
  padding: 4% 0;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
}

.acknowledgment{
  text-transform: initial;
  font-weight: bold;
  font-size: 14px;
  padding: 1% 0;
}
