<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{_accountInfo.TradingName}}</title>
</head>

<body>
  <table class="email-body" align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="email-body__td">
        <table class="email-container" role="presentation" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td>

              <table class="header">
                <tr class="header__row">
                  <td class="header__box">
                    <a href="http://{{_accountInfo.AccountName}}.com.br" target="_blank" rel="noopener noreferrer">
                      <img class="header__logo"
                        src="https://{{_accountInfo.AccountName}}.vtexassets.com/arquivos/logo.png"
                        alt="Logo {{_accountInfo.TradingName}}" />
                    </a>
                  </td>
                </tr>
              </table>