
  <table class="header">
    <tr class="header__row">
      <td class="header__wrap">
        <a href="http://{{_accountInfo.AccountName}}.com.br" target="_blank" rel="noopener noreferrer">
          <img class="header__logo" src="https://{{_accountInfo.AccountName}}.vtexassets.com/arquivos/logo.png"
            alt="Logo {{_accountInfo.AccountName}}">
        </a>
      </td>
    </tr>
  </table>