
@use '../settings/colors';

.button{
  display: block;
  width: fit-content;
  width: 90%;
  max-width: 300px;
  text-align: center;
  font-size: 14px;
  margin: auto;
  text-align: center;
  padding: 2% 4%;
  text-decoration: none;
  border-radius: 50px;
  box-sizing: border-box;
  white-space: nowrap;

  &--dark{
    color: colors.$text-light;
    background-color: colors.$background-dark;
  }
  &--light{
    color: colors.$text-dark;
    background-color: colors.$background-light;
    border: 1px solid colors.$background-dark;
  }
  &--billet{
    font-size: 12px;
    padding: 5% 2%;
    width: 100%;
    color: colors.$text-light;
    background-color: colors.$background-dark;
  }
}