@use '../settings/colors';

%border-line {
	background-color: colors.$background-light;
	border-bottom: 1px solid colors.$border-line;
	border-collapse: separate;
	width: 95%;
}

.border-line--center {
	@extend %border-line;
	margin: auto;
	width: 90%;
}
