@use 'settings' as *;

.paragraph {
	color: $text-dark;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5;
	padding: 2% 0;
	text-align: center;
}

.heading {
	color: $text-dark;
	font-size: 28px;
	font-weight: normal;
	text-transform: uppercase;
}

.subheading {
	color: $text-dark;
	font-size: 20px;
	font-weight: normal;
	padding: 4% 0;
	text-align: center;
}

.acknowledgment {
	font-size: 14px;
	font-weight: bold;
	padding: 1% 0;
	text-transform: initial;
}
