@use 'settings' as *;

.status {
	border-collapse: separate;
	border-spacing: 0 1px;
	padding: 4% 0;

	&--key {
		background-color: $background-light;
		height: auto;
		margin-bottom: auto;
		padding: 4% 0;
		width: 70%;
	}
}

.status__img-wrap {
	padding: 0 5%;
}

.status__info-wrap,
.status__title {
	box-sizing: content-box;
	font-size: 12px;
	text-align: center;
	width: 19%;
}

.status__title {
	color: $text-grey;
	font-weight: bold;

	&--success {
		color: $text-dark;
	}

	&--first {
		padding-left: 2%;
	}

	&--current {
		width: 24%;
	}
}

.status__info-wrap {
	padding: 2% 0 0;
}
