@use '../settings/colors';

.totals {
	background-color: colors.$background-light;
	border-collapse: separate;
	border-spacing: 0 15px;
	padding: 4% 2%;
	width: 95%;
}

.totals__space {
	width: 40%;
}

.totals__item {
	font-size: 14px;
	padding-bottom: 4% 0;
	text-align: left;
	width: 40%;
}

.totals__item-value {
	font-size: 14px;
	white-space: nowrap;
	width: 25%;
}

.totals__amount-title {
	border-top: 1px solid colors.$border-line;
	font-size: 20px;
	font-weight: bold;
	padding: 4% 0;
	text-align: left;
	width: 40%;
}

.totals__amount-value {
	border-top: 1px solid colors.$border-line;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
	width: 25%;
}
