@use '../settings/colors';

.footer{
        padding: 2% 4%;
        border-collapse: separate;
        background-color: colors.$background-dark;
}

.footer__row{
        background-color: colors.$background-dark;
}

.footer__wrap-logo{
        text-align: left;
}

.footer__logo{
        color: colors.$text-light;
        text-align: left;
        width: 80%;
        max-width: 145px;
        margin: auto;
}

.footer__wrap-social-logo{
        width: 95px;
        margin-left: auto;
        text-align: right;
}
.footer__social-text{
        color: colors.$text-light;
        padding-bottom: 5%;
        text-align: right;
        box-sizing: border-box;
}

.footer__social-logo{
        display: inline-block;
        width: 45%;
        &--left{
            text-align: left;
            margin-right: auto;
        }
        &--right{
                text-align: right;
        }
}
