@use '../settings/colors';

.email-body{
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    color: colors.$text-dark;
    background: colors.$background-grey;
}

.email-container{
    margin: auto;
    text-align: center;
    color: colors.$text-dark;
    background: colors.$background-grey;
}