@use '../settings/colors';

.email-body{
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background: colors.$background-grey;
    &__td{
        vertical-align: baseline;
    }
}

.email-container{
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: colors.$text-dark;
    background: colors.$background-grey;
}