@use 'settings' as *;

html, body {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
	max-width: 600px;
	margin: auto;
	height: auto;
}

html,body,table,caption,tbody,tfoot,thead,tr,th,td,
a,p,div,ul,ol,li,img,b,strong,span,h1,h2,h3,h4,h5,h6 {
	font-family: $main;
	color: $text-dark;
	vertical-align: middle;
	text-align: center;
}

img {
	max-width: 100%;
	max-height: 100%;
}
