@use 'settings' as *;

.disclaimer {
	background-color: $background-light;
	border-collapse: separate;
	padding: 0 2%;
}

.disclaimer__heading {
	color: $text-dark;
	font-size: 15px;
	font-weight: normal;
	padding: 5% 0 2%;
}
