@use 'settings' as *;

.billing {
	border-collapse: separate;
	border-spacing: 10px 0;
	padding: 0 2%;
}

.billing__row {
	background-color: $background-light;
}

.billing__header {
	font-size: 14px;
	font-weight: bold;
	padding: 2% 2% 4%;
	text-align: left;
	width: 50%;
}

.billing__data {
	font-size: 14px;
	padding: 2%;
	text-align: left;
	vertical-align: top;
	width: 50%;

	div {
		text-align: left;
	}
}

.billing__button-wrap {
	margin: auto;
	padding: 10%;
	text-align: center;
}
