@use 'settings' as *;

.status {
	border-collapse: separate;
	border-spacing: 0 1px;
	padding: 4% 0;
}

.status--access-key {
	@extend .status;
	background-color: $background-light;
	height: auto;
	margin-bottom: auto;
	padding: 4% 0;
	width: 70%;
}

.status__img-box {
	padding: 0 5%;
}

.status__info-box,
.status__title {
	box-sizing: content-box;
	font-size: 12px;
	text-align: center;
	width: 19%;
}

.status__title {
	color: $text-grey;
	font-weight: bold;

	&--success {
		color: $text-dark;
	}

	&--first {
		padding-left: 2%;
	}

	&--current {
		width: 24%;
	}
}

.status__info-box {
	padding: 2% 0 0;
}
